/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------


*/

/*-----------------------------------------Links----*/
a {
    text-decoration: none;
}

/*-----------------------------------------Inner----*/
.inner {
    max-width: 1200px;
    margin: 0 auto;
}