/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Text
2. Links
3. Buttons
4. Icons
5. Cards
6. Lists
7. Forms

*/

/*---------------------------------------1. Text----*/
h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;

  &::-moz-selection {
    background: $green;
    color: $grey2;
  }

  &::selection {
    background: $green;
    color: $grey2;
  }
}

h2 {
  @extend h1;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: $green;

  &::-moz-selection {
    background: $green;
    color: $grey2;
  }

  &::selection {
    background: $green;
    color: $grey2;
  }
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;

  &::-moz-selection {
    background: $green;
    color: $grey2;
  }

  &::selection {
    background: $green;
    color: $grey2;
  }
}

p {
  line-height: 1.5rem;

  &::-moz-selection {
    background: $green;
    color: $grey2;
  }

  &::selection {
    background: $green;
    color: $grey2;
  }
}

.masthead-para {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: $white;
}

small {
  margin-bottom: 2rem;
  font-size: 0.8rem;

  &::-moz-selection {
    background: $green;
    color: $grey2;
  }

  &::selection {
    background: $green;
    color: $grey2;
  }
}

/*--------------------------------------2. Links----*/
a {
  display: inline-block;
  color: $white;
  text-decoration: none;

  &::-moz-selection {
    background: $green;
    color: $grey2;
  }

  &::selection {
    background: $green;
    color: $grey2;
  }
}

.nav-link {
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;

  &:hover {
    color: $green;
  }
}

.github-link {
  color: $green;

  &:hover {
    text-decoration: underline;
  }
}

/*------------------------------------3. Buttons----*/
.btn {
  padding: 15%;
  border-bottom: 4px solid $purple2;
  border-radius: 8px 0 8px 0;
  background: $purple1;

  &:active {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    border-bottom: 3px solid $purple3;
  }
}

.burger-btn {
  position: absolute;
  top: 18px;
  left: 38px;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;

  &:checked + .burger-label .top {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 15px;
  }

  &:checked + .burger-label .middle {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -8px;
  }

  &:checked + .burger-label .bottom {
    opacity: 0;
  }

  &:checked + .burger-label + .navbar__nav {
    -webkit-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}

.burger-label {
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 33px;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background-color: $white;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.no-scroll {
  overflow: hidden;
}

.btn-card {
  padding: 1rem;
  margin-right: 0.8rem;
  border-bottom: 4px solid $purple2;
  border-radius: 8px 0 8px 0;
  background: $purple1;

  &:active {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    border-bottom: 3px solid $purple3;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.btn-card-disabled {
  @extend .btn-card;
  cursor: not-allowed;
  border-bottom: 4px solid $grey4;
  background: $grey5;
  color: $grey3;

  &:active {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    border-bottom: 4px solid $grey4;
  }
}

.to-top {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 75px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-bottom: 4px solid $purple2;
  cursor: pointer;
  background: $purple1;

  &:active {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    border-bottom: 3px solid $purple3;
  }
}

.submit {
  max-width: 5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  border-bottom: 4px solid $purple2;
  cursor: pointer;
  font-size: 1.1rem;
  background: $purple1;
  color: $white;

  &:active {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    border-bottom: 3px solid $purple3;
  }
}

/*--------------------------------------4. Icons----*/
.icon {
  width: 100%;
  height: 100%;
}

/*--------------------------------------5. Cards----*/
.card {
  max-width: 500px;
  height: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 3rem 0 3rem 0;
  background: $grey2;
  color: $white;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.bullet {
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  background: $green;
  color: $grey2;

  &:last-of-type {
    margin-right: 0;
  }
}

.card__text {
  padding: 1rem 0;

  & p {
    color: $white;
  }
}

.card__header {
  margin-bottom: 1rem;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 2.5rem 0 0 0;
}

/*--------------------------------------6. Lists----*/
.list {
  margin-left: 2rem;
}

.list-item {
  list-style-type: circle;
  line-height: 2rem;
  color: $grey5;

  &::-moz-selection {
    background: $green;
    color: $grey2;
  }

  &::selection {
    background: $green;
    color: $grey2;
  }
}

/*--------------------------------------7. Forms----*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
}

label::-moz-selection {
  background: $green;
  color: $grey2;
}

label::selection {
  background: $green;
  color: $grey2;
}

input {
  display: block;
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0 2rem 0;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background: $grey2;
  color: $white;

  &:focus {
    outline: 2px solid $purple1;
  }
}

textarea {
  @extend input;
  height: auto;
}

.hidden {
  display: none;
}