/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------


*/

/*----------------------------------1. Universal----*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*---------------------------------------2. Body----*/


/*----------------------------------------3. Nav----*/
nav {
    background: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 2rem;
}

.navbar__nav {
    display: flex;
}

.nav-item {
    margin-left: 1rem;
}

/*-----------------------------------4. Masthead----*/
.masthead {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    text-align: center;
}

.masthead__content {
}

/*----------------------------------5. Portfolio----*/
.portfolio {
    background: $red;
    width: 100%;
    height: 1000px;
}

/*-------------------------------------6. Skills----*/
.skills {
    background: $white;
    width: 100%;
    height: 500px;
}

/*--------------------------------------7. About----*/
.about {
    background: $red;
    width: 100%;
    height: 500px;
}

/*-------------------------------------8. Footer----*/
footer {
    background: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
}
