/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Small Devices
2. Medium Devices
3. Large Devices

*/

/*------------------------------1. Small Devices----*/
@media (min-width: 576px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }
}

@media (min-width: 600px) {
    .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .skills__dev {
        width: auto;
        margin-bottom: 0;
    }

    .skills__design {
        width: auto;
        margin-bottom: 0;
    }

    .skills__other {
        width: auto;
    }
}

/*-----------------------------2. Medium Devices----*/
@media (min-width: 768px) {
    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 3rem;
    }

    .navbar__nav {
        display: flex;
        flex-direction: row;
        justify-content: unset;
        align-items: unset;
        position: relative;
        height: unset;
        width: unset;
        top: unset;
        left: unset;
        z-index: unset;
        background: transparent;
    }

    .nav-link {
        margin: 0 1rem 0 0;
        padding: 0.5rem;
    }

    .burger-btn {
        display: none;
    }

    .burger-label {
        display: none;
    }

    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
    }
}

/*------------------------------3. Large Devices----*/
@media (min-width: 900px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 3rem;
    }

    .card {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 9rem;
    }

    h2 {
        font-size: 3rem;
    }
}
