@import "variables", "components";

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Universal
2. HTML
3. Body
4. Nav
5. Masthead
6. Portfolio
7. Skills
8. About
9. Contact
10. Footer

*/

/*----------------------------------1. Universal----*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*---------------------------------------2. HTML----*/
html {
    height: 100%;
}

/*---------------------------------------3. Body----*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    position: relative;
    background: $grey1;
    color: $white;
}

/*----------------------------------------4. Nav----*/
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 99;
    padding: 0 2rem;
    transition: transform 0.4s, background-color 1s;
    background: transparent;
}

.navbar__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    left: 0px;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
    background-color: $purple3;
}

.slide-up {
    transform: translateY(-100%);
}

.slide-down {
    transform: translateY(0);
}

.nav-purple {
    background-color: $purple3;
}

/*-----------------------------------5. Masthead----*/
.masthead {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../../../images/backgrounds/background1.jpg") no-repeat;
    background-size: cover;
}

.masthead__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;
    padding: 0 2rem 0 10%;
}

.masthead__content__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    max-width: 240px;
}

.masthead-bg {
    width: 100%;
    height: auto;

    position: absolute;
    bottom: 0;
    right: 0;
}

.masthead-bg--left {
    width: 100%;
    height: auto;

    position: absolute;
    bottom: 0;
    right: 10rem;
}

/*----------------------------------6. Portfolio----*/
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 6rem 1rem;
}

/*-------------------------------------7. Skills----*/
.skills {
    width: 100%;
    height: auto;
    padding: 6rem 0;
}

.skills__header {
    text-align: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 6rem 1rem;
    border-radius: 0 1rem 1rem 0;
    background: $grey2;
}

.skills__dev {
    width: 150px;
    margin-bottom: 3rem;
}

.skills__design {
    @extend .skills__dev;
}

.skills__other {
    width: 150px;
}

/*--------------------------------------8. About----*/
.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 6rem 0 6rem 1rem;
    background: url("../../../images/backgrounds/background2.jpg") no-repeat;
    background-size: cover;
}

.about__text {
    padding: 0 1rem 2rem 0;
}

.about__text__inner {
    max-width: 30rem;
}

.about-para {
    margin-bottom: 1rem;
}

.about__img {
    max-width: 500px;
    align-self: flex-end;
}

.about-img {
    width: 100%;
    height: auto;
    border-radius: 3rem 0 0 3rem;
}

/*------------------------------------9. Contact----*/
.contact {
    width: 100%;
    height: auto;
    padding: 6rem 0;
}

.contact__header {
    text-align: center;
}

/*-------------------------------------10. Footer----*/
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    position: relative;
    background: $grey2;
}

@import "media-queries";
