@import "variables", "mixins", "layout", "components", "animations",
    "media-queries";

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------


*/

/*-------------------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: $grey;
}
