/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Text
2. Links
3. Buttons
4. Icons
5. Cards
6. Lists
7. Forms

*/
/*---------------------------------------1. Text----*/
h1, h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
}

h1::-moz-selection, h2::-moz-selection {
  background: #3ddc97;
  color: #282633;
}

h1::selection, h2::selection {
  background: #3ddc97;
  color: #282633;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #3ddc97;
}

h2::-moz-selection {
  background: #3ddc97;
  color: #282633;
}

h2::selection {
  background: #3ddc97;
  color: #282633;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

h3::-moz-selection {
  background: #3ddc97;
  color: #282633;
}

h3::selection {
  background: #3ddc97;
  color: #282633;
}

p {
  line-height: 1.5rem;
}

p::-moz-selection {
  background: #3ddc97;
  color: #282633;
}

p::selection {
  background: #3ddc97;
  color: #282633;
}

.masthead-para {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

small {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

small::-moz-selection {
  background: #3ddc97;
  color: #282633;
}

small::selection {
  background: #3ddc97;
  color: #282633;
}

/*--------------------------------------2. Links----*/
a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

a::-moz-selection {
  background: #3ddc97;
  color: #282633;
}

a::selection {
  background: #3ddc97;
  color: #282633;
}

.nav-link {
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav-link:hover {
  color: #3ddc97;
}

.github-link {
  color: #3ddc97;
}

.github-link:hover {
  text-decoration: underline;
}

/*------------------------------------3. Buttons----*/
.btn {
  padding: 15%;
  border-bottom: 4px solid #6f629b;
  border-radius: 8px 0 8px 0;
  background: #8c7cc5;
}

.btn:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  border-bottom: 3px solid #574d7a;
}

.burger-btn {
  position: absolute;
  top: 18px;
  left: 38px;
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
}

.burger-btn:checked + .burger-label .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 15px;
}

.burger-btn:checked + .burger-label .middle {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -8px;
}

.burger-btn:checked + .burger-label .bottom {
  opacity: 0;
}

.burger-btn:checked + .burger-label + .navbar__nav {
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
}

.burger-label {
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 33px;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background-color: #ffffff;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.no-scroll {
  overflow: hidden;
}

.btn-card, .btn-card-disabled {
  padding: 1rem;
  margin-right: 0.8rem;
  border-bottom: 4px solid #6f629b;
  border-radius: 8px 0 8px 0;
  background: #8c7cc5;
}

.btn-card:active, .btn-card-disabled:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  border-bottom: 3px solid #574d7a;
}

.btn-card:last-of-type, .btn-card-disabled:last-of-type {
  margin-right: 0;
}

.btn-card-disabled {
  cursor: not-allowed;
  border-bottom: 4px solid #475266;
  background: #6b6f77;
  color: #34343e;
}

.btn-card-disabled:active {
  -webkit-transform: unset;
  transform: unset;
  border-bottom: 4px solid #475266;
}

.to-top {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 75px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-bottom: 4px solid #6f629b;
  cursor: pointer;
  background: #8c7cc5;
}

.to-top:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  border-bottom: 3px solid #574d7a;
}

.submit {
  max-width: 5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  border-bottom: 4px solid #6f629b;
  cursor: pointer;
  font-size: 1.1rem;
  background: #8c7cc5;
  color: #ffffff;
}

.submit:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  border-bottom: 3px solid #574d7a;
}

/*--------------------------------------4. Icons----*/
.icon {
  width: 100%;
  height: 100%;
}

/*--------------------------------------5. Cards----*/
.card {
  max-width: 500px;
  height: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 3rem 0 3rem 0;
  background: #282633;
  color: #ffffff;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.bullet {
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  background: #3ddc97;
  color: #282633;
}

.bullet:last-of-type {
  margin-right: 0;
}

.card__text {
  padding: 1rem 0;
}

.card__text p {
  color: #ffffff;
}

.card__header {
  margin-bottom: 1rem;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 2.5rem 0 0 0;
}

/*--------------------------------------6. Lists----*/
.list {
  margin-left: 2rem;
}

.list-item {
  list-style-type: circle;
  line-height: 2rem;
  color: #6b6f77;
}

.list-item::-moz-selection {
  background: #3ddc97;
  color: #282633;
}

.list-item::selection {
  background: #3ddc97;
  color: #282633;
}

/*--------------------------------------7. Forms----*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
}

label::-moz-selection {
  background: #3ddc97;
  color: #282633;
}

label::selection {
  background: #3ddc97;
  color: #282633;
}

input, textarea {
  display: block;
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0 2rem 0;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background: #282633;
  color: #ffffff;
}

input:focus, textarea:focus {
  outline: 2px solid #8c7cc5;
}

textarea {
  height: auto;
}

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Universal
2. HTML
3. Body
4. Nav
5. Masthead
6. Portfolio
7. Skills
8. About
9. Contact
10. Footer

*/
/*----------------------------------1. Universal----*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*---------------------------------------2. HTML----*/
html {
  height: 100%;
}

/*---------------------------------------3. Body----*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: relative;
  background: #262d40;
  color: #ffffff;
}

/*----------------------------------------4. Nav----*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 99;
  padding: 0 2rem;
  -webkit-transition: background-color 1s, -webkit-transform 0.4s;
  transition: background-color 1s, -webkit-transform 0.4s;
  transition: transform 0.4s, background-color 1s;
  transition: transform 0.4s, background-color 1s, -webkit-transform 0.4s;
  background: transparent;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: -100vh;
  left: 0px;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  background-color: #574d7a;
}

.slide-up {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.slide-down {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.nav-purple {
  background-color: #574d7a;
}

/*-----------------------------------5. Masthead----*/
.masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
  position: relative;
  padding: 10rem 0;
  border-bottom-right-radius: 5rem;
  background: #282633;
}

.masthead__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 2rem 0 10%;
}

.masthead__content__text h1, .masthead__content__text h2 {
  color: #3ddc97;
}

@supports (background-clip: text) {
  .masthead__content__text h1, .masthead__content__text h2 {
    background: -webkit-gradient(linear, left top, right top, from(#8c7cc5), to(#3ddc97));
    background: linear-gradient(to right, #8c7cc5 0%, #3ddc97 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.masthead__content__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 240px;
}

/*----------------------------------6. Portfolio----*/
.portfolio {
  width: 100%;
  height: auto;
  background: #282633;
}

.portfolio__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10rem 1rem;
  border-top-left-radius: 5rem;
  background: #262d40;
}

/*-------------------------------------7. Skills----*/
.skills {
  width: 100%;
  height: auto;
  padding-bottom: 10rem;
}

.skills__header {
  text-align: center;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 6rem 1rem;
  border-radius: 0 1rem 1rem 0;
  background: #282633;
}

.skills__dev, .skills__design {
  width: 150px;
  margin-bottom: 3rem;
}

.skills__other {
  width: 150px;
}

/*--------------------------------------8. About----*/
.about {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 6rem 0 6rem 1rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  background: #282633;
}

.about__text {
  padding: 0 1rem 2rem 0;
}

.about__text__inner {
  max-width: 30rem;
}

.about-para {
  margin-bottom: 1rem;
}

.about__img {
  max-width: 500px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.about-img {
  width: 100%;
  height: auto;
  border-radius: 3rem 0 0 3rem;
}

/*------------------------------------9. Contact----*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6rem 1rem;
  width: 100%;
  height: auto;
}

/*-------------------------------------10. Footer----*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  position: relative;
  background: #282633;
}

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Small Devices
2. Medium Devices
3. Large Devices

*/
/*------------------------------1. Small Devices----*/
@media (min-width: 576px) {
  h1, h2 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 600px) {
  .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .skills__dev, .skills__design {
    width: auto;
    margin-bottom: 0;
  }
  .skills__design {
    width: auto;
    margin-bottom: 0;
  }
  .skills__other {
    width: auto;
  }
}

/*-----------------------------2. Medium Devices----*/
@media (min-width: 768px) {
  h1, h2 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3rem;
  }
  .navbar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    position: relative;
    height: unset;
    width: unset;
    top: unset;
    left: unset;
    z-index: unset;
    background: transparent;
  }
  .nav-link {
    margin: 0 1rem 0 0;
    padding: 0.5rem;
  }
  .burger-btn {
    display: none;
  }
  .burger-label {
    display: none;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
}

/*------------------------------3. Large Devices----*/
@media (min-width: 900px) {
  .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
  .card-container > *:nth-child(1) {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(2) {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 2;
    -ms-grid-column: 2;
  }
  .card-container > *:nth-child(3) {
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 1;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(4) {
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 2;
    -ms-grid-column: 2;
  }
  .card-container > *:nth-child(5) {
    grid-row: 3;
    -ms-grid-row: 3;
    grid-column: 1;
    -ms-grid-column: 1;
  }
  .card-container > *:nth-child(6) {
    grid-row: 3;
    -ms-grid-row: 3;
    grid-column: 2;
    -ms-grid-column: 2;
  }
  .card {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  h1, h2 {
    font-size: 9rem;
  }
  h2 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */